.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  position: relative;
}
.portfolio-video {
  width: 100vmin;
  height: 56.25vmin;
  position: relative;
}
.portfolio-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio-video-blur {
  position: fixed;
  top: 0;
  background: rgba(var(--dark-rgb), 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  width: 100%;
  height: 100%;
}
.portfolio .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  min-height: 100vh;
  padding: 175px 50px 100px 50px;
  gap: 50px;
}
.portfolio .container h1 {
  display: none;
}
.portfolio-filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
.portfolio-filter li {
  background-color: var(--dark);
  padding: 12px 24px;
  border-radius: 24px;
  letter-spacing: 0.75px;
  transition: box-shadow 0.5s, color 0.5s, background 0.5s;
  box-shadow: 0px 0px 4px 2px rgba(var(--dark-rgb), 0.5);
  cursor: default;
}
.portfolio-filter li.active, .portfolio-filter li:hover {
  box-shadow: 0px 0px 0px 2px var(--orange), 0px 0px 4px 2px rgba(var(--dark-rgb), 0.5);
  color: var(--orange);
  background: none;
  cursor: default;
}
.portfolio-list {
  width: 100%;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
}
.portfolio-list .item {
  overflow: hidden;
  border-radius: 24px;
  aspect-ratio: 16/9;
  box-shadow: 0px 0px 4px 2px rgba(var(--dark-rgb), 0.5);
  transition: box-shadow 0.5s;
}
.portfolio-list .item:hover {
  box-shadow: 0px 0px 0px 2px var(--orange), 0px 0px 4px 2px rgba(var(--dark-rgb), 0.5);
}
.portfolio-list .item:hover .item-description-blur,
.portfolio-list .item:hover .item-description-body {
  opacity: 1;
}
.portfolio-list .item-description {
  position: relative;
}
.portfolio-list .item-description-blur {
  transition: opacity 0.5s;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(var(--dark-rgb), 0.75);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.portfolio-list .item-description-cover {
  position: relative;
  aspect-ratio: 16/9;
  z-index: 0;
}
.portfolio-list .item-description-cover img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.portfolio-list .item-description-tag {
  display: none;
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: var(--dark);
  padding: 8px 16px 6px 16px;
  font-size: 12px;
  border-radius: 24px;
  width: fit-content;
  margin-left: 0;
  margin-right: auto;
}
.portfolio-list .item-description-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 24px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.5s;
}
.portfolio-list .item-description-body h2 {
  font-size: 18px;
}
.portfolio-list .item-description-body p {
  font-size: 12px;
  text-align: center;
}
.portfolio-list .item-description-body button {
  outline: none;
  border: none;
  width: fit-content;
  padding: 10px 20px 10px 20px;
  border-radius: 24px;
  font-size: 14px;
  letter-spacing: 0.75px;
  font-weight: 400;
  background-color: var(--light-gray);
  transition: background-color 0.5s;
}
.portfolio-list .item-description-body button:hover {
  background-color: var(--orange);
}

@media (min-width: 768px) and (max-width: 900px) {
  .portfolio-video-blur {
    padding: 20px;
    background: rgba(var(--dark-rgb), 0.75);
  }
  .portfolio .container {
    padding: 150px 50px 100px 50px;
  }
  .portfolio-filter li {
    padding: 8px 16px;
    font-size: 14px;
  }
  .portfolio-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .portfolio-list .item-description-body {
    padding: 10px 10px 16px 10px;
    gap: 4px;
  }
  .portfolio-list .item-description-body h2 {
    font-size: 16px;
  }
  .portfolio-list .item-description-body p {
    font-size: 10px;
  }
  .portfolio-list .item-description-body button {
    padding: 10px 18px 10px 18px;
    font-size: 12px;
  }
  .portfolio-list .item-description-body button:hover {
    background-color: var(--orange);
  }
}
@media (min-width: 569px) and (max-width: 769px) {
  .portfolio-video-blur {
    padding: 20px;
    background: rgba(var(--dark-rgb), 0.75);
  }
  .portfolio .container {
    padding: 150px 50px 100px 50px;
  }
  .portfolio-filter li {
    padding: 8px 16px;
    font-size: 14px;
  }
  .portfolio-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .portfolio-list .item-description-body {
    padding: 10px 10px 16px 10px;
    gap: 4px;
  }
  .portfolio-list .item-description-body h2 {
    font-size: 16px;
  }
  .portfolio-list .item-description-body p {
    font-size: 10px;
  }
  .portfolio-list .item-description-body button {
    padding: 10px 18px 10px 18px;
    font-size: 12px;
  }
  .portfolio-list .item-description-body button:hover {
    background-color: var(--orange);
  }
}
@media (min-width: 320px) and (max-width: 568px) {
  .portfolio-video-blur {
    padding: 20px;
    background: rgba(var(--dark-rgb), 0.75);
  }
  .portfolio .container {
    padding: 150px 20px 100px 20px;
  }
  .portfolio-filter li {
    padding: 8px 16px;
    font-size: 14px;
  }
  .portfolio-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolio-list .item-description-tag {
    font-size: 12px;
    padding: 6px 12px;
  }
  .portfolio-list .item-description-body {
    padding: 10px 10px 16px 10px;
    font-size: 16px;
  }
  .portfolio-list .item-description-body h2 {
    font-size: 16px;
  }
  .portfolio-list .item-description-body p {
    font-size: 12px;
    padding: 10px;
  }
  .portfolio-list .item-description-body button {
    padding: 10px 18px 10px 18px;
    font-size: 12px;
  }
  .portfolio-list .item-description-body button:hover {
    background-color: var(--orange);
  }
}
